{% extends "master.html" %}

{% block content %}
    <head>
        <link rel="stylesheet" href="/static/css/carousel.css">
    </head>
    <div class="container" align="right" id="features">
        <div class="row" id="properties">
            <div class="col-lg-5">
                <h2>{{ title }}
                    {% if is_urgent %}
                        <button type="button" class="btn btn-danger">فوری</button>
                    {% endif %}

                    {% if user.is_authenticated %}
                        <button id="bookmark" type="button" {% if bookmark == 1 %} class="btn btn-primary" {% else %}
                                class="btn
                            btn-outline-primary" {% endif %}
                                data-bookmark={{ bookmark }}>{% if bookmark %}
                            نشان شده{% else %} نشان کردن{% endif %}</button>
                    {% endif %}
                </h2>
                <script>
                    $("#bookmark").click(function () {
                        const bookmark = $(this).attr("data-bookmark");
                        const target = 1 - bookmark;
                        $.ajax({
                            url: "{% url 'ads:bookmark_ad' %}",
                            data: {
                                'ad': {{ id }},
                                'bookmark': (target == 1)
                            },
                            dataType: 'json',
                            success: function () {
                                console.log('successsss', target)
                                $('#bookmark').attr("data-bookmark", target)
                                if (target === 0) {
                                    $('#bookmark').removeClass("btn-primary").addClass("btn-outline-primary").text('نشان کردن');
                                } else {
                                    $('#bookmark').removeClass("btn-outline-primary").addClass("btn-primary").text('نشان شده');
                                }

                            }
                        })

                    })
                </script>


                <label id="creation_time">{{ creation_time }}</label>

                <table class="table">
                    <tbody>

                    <tr>
                        <td>قیمت</td>
                        <td>{% if price == -1 %} توافقی {% else %} {{ price }} {% endif %}</td>
                    </tr>
                    <tr>
                        <td>استان</td>
                        <td>{{ state }}</td>
                    </tr>
                    <tr>
                        <td>شهر</td>
                        <td>{{ city }}</td>
                    </tr>
                    <tr>
                        <td>دسته</td>
                        <td>{{ category1 }} > {{ category2 }} > {{ category3 }}</td>
                    </tr>
                    <tr>
                        <td>شماره تماس</td>
                        <td>{{ user_phone }}</td>
                    </tr>
                    <tr>
                        <td>ایمیل</td>
                        <td>{{ user_email }}</td>
                    </tr>
                    <tr>
                        <td>لینک</td>
                        <td>{{ sharable_link }}</td>
                    </tr>
                    </tbody>
                </table>

                <p>{{ description }}</p>

            </div>

            <div class="col-lg-1">
            </div>

            <div class="col-lg-6">


                <div id="carousel" class="carousel slide" data-ride="carousel">
                    {#          This is optional, just for aesthetics#}
                    <ol class="carousel-indicators">
                        {% for img in images %}
                            {% if forloop.counter == 1 %}
                                <li data-target="#carousel" data-slide-to={{ forloop.counter0 }} class="active"></li>
                            {% else %}
                                <li data-target="#carousel" data-slide-to={{ forloop.counter0 }}></li>
                            {% endif %}
                            {#              <li data-target="#carousel" data-slide-to={{ forloop.counter0 }}></li>#}
                        {% endfor %}

                        {#            <li data-target="#carousel" data-slide-to="0" class="active"></li>#}
                        {#            <li data-target="#carousel" data-slide-to="1"></li>#}
                        {#            <li data-target="#carousel" data-slide-to="2"></li>#}
                    </ol>


                    <div class="carousel-inner" role="listbox">
                        {% if images %}
                            {% for img in images %}
                                {% if forloop.counter0 == 0 %}
                                    <div class="carousel-item active"
                                         style="background-image: url({{ img.image.url }})">
                                {% else %}
                                    <div class="carousel-item" style="background-image: url({{ img.image.url }})">
                                {% endif %}
                            </div>
                            {% endfor %}

                        {% else %}
                            <div class="carousel-item active"
                                 style="background-image: url('/static/images/no_photo.png')">
                            </div>
                        {% endif %}

                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>


            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" dir="rtl">گزارش آگهی</h4>
                    </div>
                    <div class="modal-body" style="margin: 5px">
                        <form action="{% url 'ads:report_ad' id=id %}" method="post" id="report-form">
                            {% csrf_token %}
                            <div class="form-group row" dir="rtl">
                                <label for="reason" class="col-form-label">دلیل شما:</label>
                                <textarea name="reason" class="form-control" rows="4"
                                          placeholder="دلیل خود را اینجا وارد نمایید"></textarea>
                                <input type="hidden" name="id" value="{{ id }}">

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">انصراف</button>
                        <button type="submit" class="btn btn-success"
                                style="margin-right: 5px;" form="report-form">ارسال
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">گزارش مشکل آگهی
        </button>

        <hr>

    </div>

    <div class="container" align="right" id="features">
        <h4>آگهی‌های مرتبط</h4>
    </div>



    <div class="container">
        <div class="row">
            <div class="MultiCarousel" data-items="1,3,5,5" data-slide="1" id="MultiCarousel" data-interval="1000">
                <div class="MultiCarousel-inner">

                    {% for ad in relevant_ads %}
                        <div class="item">
                            <div class="pad15">
                                <div class="card h-100">

                                    {% if ad.image %}
                                        <a href="/ads/view/{{ ad.id }}"><img class="card-img-top"
                                                                             src="{{ ad.image.image.url }}"
                                                                             alt=""></a>
                                    {% else %}
                                        <a href="/ads/view/{{ ad.id }}"><img class="card-img-top"
                                                                             src="/static/images/no_photo.png"
                                                                             alt=""></a>
                                    {% endif %}

                                    <h5 class="card-header">{{ ad.name }}</h5>
                                    <div class="card-body">
                                        <p class="card-text">{{ ad.info }}</p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="/ads/view/{{ ad.id }}" class="btn btn-primary">توضیحات بیشتر</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                    {#                sample carousel item#}
                    {#                    <div class="item">#}
                    {#                        <div class="pad15">#}
                    {#                            <p class="lead">Multi Item Carousel</p>#}
                    {#                            <p>₹ 1</p>#}
                    {#                            <p>₹ 6000</p>#}
                    {#                            <p>50% off</p>#}
                    {#                        </div>#}
                    {#                    </div>#}
                </div>
                <button class="btn btn-primary leftLst">></button>
                <button class="btn btn-primary rightLst"><</button>
            </div>
        </div>
        {#        <div class="row">#}
        {#            <div class="col-md-12 text-center">#}
        {#                <br/><br/><br/>#}
        {#                <hr/>#}
        {#                <p>Settings</p>#}
        {#                <p>Change data items for xs,sm,md and lg display items respectively. Ex:data-items="1,3,5,6"</p>#}
        {#                <p>Change data slide for slides per click Ex:data-slide="1"</p>#}
        {#            </div>#}
        {#        </div>#}
    </div>
    <script src="/static/js/relevant_product_carousel.js"></script>

    <script src="/static/js/Translator.js"></script>
{% endblock content %}