{% extends "master.html" %}

{% block content %}
  <div class="container" align="right" id="features">

    {% for ad in ads %}
      {% if forloop.counter0|divisibleby:4 %}
        <div class="row" align="center">
      {% endif %}

      {#    <div class="col-lg-4 mb-4">#}
      <div class="col-lg-3 mb-3">
        <div class="card h-100">

          {% if ad.image %}
            <a href="/ads/view/{{ ad.id }}"><img class="card-img-top" src="{{ ad.image.image.url }}" alt=""></a>
          {% else %}
            <a href="/ads/view/{{ ad.id }}"><img class="card-img-top" src="/static/images/no_photo.png" alt=""></a>
          {% endif %}

          <h4 class="card-header">{{ ad.name }}</h4>
          <div class="card-body">
            <p class="card-text">{{ ad.info }}</p>
          </div>
          <div class="card-footer">
            <a href="/ads/view/{{ ad.id }}" class="btn btn-primary">توضیحات بیشتر</a>
          </div>
          </div>
        </div>

        {% if forloop.counter0|add:1|divisibleby:4 or forloop.counter == ss|length %}
          </div>
        {% endif %}

    {% endfor %}


    {#    <div class="row" id="properties">#}
    {#      <div class="col-lg-6">#}
    {#        <h2>ویژگی‌های سامانهٔ ما</h2>#}
    {#        <p>ویژگی‌های زیر سامانهٔ دیوار را یکتا می‌کند:</p>#}
    {#        <ul>#}
    {#          <li>#}
    {#            فروش کالاها#}
    {#          </li>#}
    {#          <li>خرید کالاها</li>#}
    {#          <li>تغییر رمز عبور</li>#}
    {#        </ul>#}
    {#        <p>ما در دیوار تلاش می‌کنیم خدمات خود را به نحوی ارائه کنیم که علاوه بر پاسخگویی به نیاز شما،‌ رضایت و#}
    {#          آرامش شما را نیز در بر داشته باشد.</p>#}
    {#      </div>#}
    {#      <div class="col-lg-6">#}
    {#        <img class="img-fluid rounded" style="width: 400px; height: 400px;" src="/static/images/divar.png" alt="">#}
    {#      </div>#}
    {#    </div>#}
    {##}
    {#    <hr>#}


    </div>
{% endblock content %}